.group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.5rem;
    gap: var(--size-2);
    margin: 0;
    margin: var(--size-0);
    padding: 0;
    padding: var(--size-0);
}

ul.group {
    list-style-type: none;
}

.icon {
    display: block;
    width: 1.125rem;
    width: var(--size-4-5);
    height: 1.125rem;
    height: var(--size-4-5);
}

.icon_indicator {
    display: block;
    opacity: 50%;
    width: 2rem;
    width: var(--size-8);
    height: 2rem;
    height: var(--size-8);
}

.sr-only {
    position: absolute;
    clip-path: inset(50%);
    margin: -1px;
    border-width: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
}

.logo {
    display: block;
    width: 2rem;
    width: var(--size-8);
    height: 2rem;
    height: var(--size-8);
}


.truncate-multiline {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: normal;
    word-break: normal;
}