.site-header {
  position: fixed;
  top: 0;
  z-index: 9;
  margin: var(--size-0, 0);
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-background);
  padding: var(--size-0, 0);
  width: 100vw;
  width: 100dvw;
}

.site-header > nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--size-2-5);
  margin: var(--size-0, 0) auto;
  padding: var(--size-3) var(--size-6);
  max-width: var(--breakpoint-lg);
}

.nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: var(--size-4);
  margin: var(--size-0);
  padding: var(--size-0);
  font-size: var(--text-sm);
  list-style-type: none;
}

.nav-list li {
  margin: var(--size-0);
}