.meta-row {
  margin: 3rem 0;
  margin: var(--size-12) var(--size-0);
  border-top: 1px solid #e6e6e6;
  border-top: var(--size-px) solid var(--color-border);
  border-bottom: 1px solid #e6e6e6;
  border-bottom: var(--size-px) solid var(--color-border);
  padding: 1.5rem 0;
  padding: var(--size-6) var(--size-0);
}

.meta-row__grid {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 3rem;
  gap: var(--size-12);
  margin: 0;
  margin: var(--size-o);
}

.meta-row__item {
  margin: 0;
  margin: var(--size-o);
}

.meta-row__item--end {
  justify-self: end;
  text-align: right;
}

.meta-row__label {
  opacity: 0.6;
  margin-bottom: 0.5rem;
  margin-bottom: var(--size-2);
  font-weight: 600;
  
}

.meta-row__value {
  margin: 0;
  margin: var(--size-0);
}

.meta-row__value--list ul {
  margin: 0;
  margin: var(--size-o);
  padding-left: 0;
  padding-left: var(--size-o);
  list-style: none;
}

.meta-row__value--list li {
  margin: 0 0 0.75rem 0;
  margin: var(--size-0) var(--size-0) var(--size-3) var(--size-0);
}

.meta-row__value--list a {
  text-underline-offset: 0.2em;
}

@media (max-width: 768px) {
  .meta-row__grid {
    grid-template-columns: 1fr;
    gap: 2rem;
    gap: var(--size-8);
  }

  .meta-row__item--end {
    justify-self: start;
    text-align: left;
  }
}