.meta-row {
  margin: var(--size-12) var(--size-0);
  border-top: var(--size-px) solid var(--color-border);
  border-bottom: var(--size-px) solid var(--color-border);
  padding: var(--size-6) var(--size-0);
}

.meta-row__grid {
  display: flex;
  flex-flow: row nowrap;
  align-items: start;
  justify-content: space-between;
  gap: var(--size-8);
  margin: var(--size-0);
}

.meta-row__item {
  margin: var(--size-0);
}

.meta-row__label {
  opacity: 0.6;
  margin-bottom: var(--size-2);
  font-weight: 600;
}

.meta-row__value {
  margin: var(--size-0);
}

.meta-row__value--list ul {
  margin: var(--size-0);
  padding-left: var(--size-0);
  list-style: none;
}

.meta-row__value--list li {
  margin: var(--size-0) var(--size-0) var(--size-3) var(--size-0);
}

.meta-row__value--list a {
  text-underline-offset: 0.2em;
}

@media (max-width: 720px) {
  .meta-row__grid {
    flex-flow: column nowrap;
  }
}