.page__header {
  margin-bottom: var(--size-16);
  position: relative;
  z-index: 2;
}

.page__content {
  position: relative;
  z-index: 3;
  background-color: var(--color-background);
}

.page__cover {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  margin: calc(var(--size-20) * -1) 0 calc(var(--size-48) * -1);
  width: 100vw;
  width: 100dvw;
  height: clamp(240px, 28vw, 400px);
  overflow: hidden;
}

.page__cover-media {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.page__cover-media img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.page__cover::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: var(--size-1) var(--size-1) var(--size-0) var(--size-0);
  background-color: var(--color-background);
  width: var(--breakpoint-xl);
  height: var(--size-40);
  content: '';
}

@media (max-width: 768px) {
  .page__cover {
    margin-bottom: var(--size-0);
  }

  .page__cover::after {
    display: none;
  }

  .page__header > h1 {
    margin-top: var(--size-14);
  }
}

.post_img {
  box-shadow: var(--size-0) var(--size-1) var(--size-2) rgba(0, 0, 0, 0.1);
}

.figure {
  margin: var(--size-6) var(--size-0);
}

.figure__caption {
  margin-top: var(--size-2);
  padding: var(--size-0) var(--size-4);
  color: var(--color-foreground-alt);
  font-size: var(--text-sm);
  text-align: center;
}