/* Table of contents block */
.toc {
  margin: var(--size-12) var(--size-0);
  border: 1px solid var(--color-border);
  border-radius: var(--size-1);
  padding: var(--size-4);
}

.toc__title {
  margin-bottom: var(--size-3);
  font-weight: var(--font-semibold);
  font-size: var(--text-lg);
}

.toc__content ol {
  margin: var(--size-0);
}

.toc__content ul {
  margin: var(--size-0);
  padding-left: var(--size-8);
}

.toc__content a.toc__link {
  color: var(--color-foreground-alt);
  text-decoration: none;
}