#intro {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: var(--size-6, 24px);
  margin: var(--size-0, 0) auto;
  padding: var(--size-0, 0) var(--size-16, 64px) var(--size-16, 64px);
  height: 85vh;
  height: 85dvh;
  text-align: center;
}

@media  (max-width: 512px) {
  #intro {
    padding: var(--size-4, 16px);
  }
}

.avatar {
  display: block;
  position: relative;
  clip-path: circle();
  width: var(--size-28, 112px);
  height: var(--size-28, 112px);
}

.avatar img {
  display: block;
  position: absolute;
  top: 65%;
  right: 50%;
  transform: translate(50%, -50%);
  filter: saturate(1.1);
  width: 150%;
}

#name {
  color: #f54a00;
  color: var(--color-accent);
  font-weight: var(--font-semibold);
}

#scroll-indicator {
  display: flex;
  position: absolute;
  bottom: 0;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  transform: translateY(-50%);
}

#works {
  margin-top: 5rem;
  margin-top: var(--size-20);
  padding-bottom: 2rem;
  padding-bottom: var(--size-8);
}

#works > .title-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
  gap: 1.5rem;
  gap: var(--size-6);
  padding: 3rem 0;
  padding: var(--size-12) var(--size-0);
}

#works > .title-container > h2 {
  margin: var(--size-0, 0);
}