{{- $role := .Get "role" -}}
{{- $duration := .Get "duration" -}}
{{- $hasOthers := gt (len (strings.TrimSpace .Inner)) 0 -}}

<div class="meta-row" role="group" aria-label="Project metadata">
  <dl class="meta-row__grid">
    <div class="meta-row__item">
      <dt class="meta-row__label">Role</dt>
      <dd class="meta-row__value">{{ $role }}</dd>
    </div>

    {{- if $hasOthers -}}
      <div class="meta-row__item">
        <dt class="meta-row__label">Other team members</dt>
        <dd class="meta-row__value meta-row__value--list">
          {{ .Page.RenderString .Inner }}
        </dd>
      </div>
    {{- end -}}

    <div class="meta-row__item meta-row__item--end">
      <dt class="meta-row__label">Duration</dt>
      <dd class="meta-row__value">{{ $duration }}</dd>
    </div>
  </dl>
</div>